#app {
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    text-align: center;
}

.control {
    text-align: center;
}

.control button {
    margin-right: 10px;
}


.game {
    margin: 50px auto;
}

.game .field {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.game .field.me {
    background: green;
}

.game .field.you {
    background: red;
}
